.board {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column; 
  }

  .row {
    display: flex;
    flex: 1;
  }

  .col {
    flex: 1;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }